@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600');

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-family: 'IBM Plex Mono', monospace;
  font-size:1em;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.quarter {
  width: 25%;
}
.half {
  width: 50%;
}
.three-quarters {
  width: 75%;
}
.third {
  width: 33.333%;
}
.two-thirds {
  width: 66.666%;
}
.full {
  width: 100%;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.reset-ui {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post-icon-button,
.post-icon-button--quiet,
.post-icon-button--large,
.post-icon-button--large--quiet {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0.75rem;
  line-height: 3rem;
  letter-spacing: 1px;
  color: #454545;
  text-shadow: 0 1px #fff;
  vertical-align: baseline;
  background-color: #e5e9e8;
  -webkit-box-shadow: inset 0 1px #fff;
  box-shadow: inset 0 1px #fff;
  border: 1px solid #a5a8a8;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.post-icon-button:active,
.post-icon-button.is-active {
  background-color: #d3d7d7;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.post-icon-button:disabled,
.post-icon-button.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Quiet Icon Button
 -----------------

 :active - Button active state

 .is-active - Simulates active state for a button on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="post-icon-button--quiet">
        <span class="post-icon post-icon--menu-stack"></span>
    </a>

    <a class="post-icon-button--quiet is-active">
      <span class="post-icon post-icon--menu-stack"></span>
    </a>

    <a class="post-icon-button--quiet is-disabled">
      <span class="post-icon post-icon--menu-stack"></span>
    </a>
*/
.post-icon-button--quiet {
  background: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.post-icon-button--quiet:active,
.post-icon-button--quiet.is-active,
.post-icon-button--large--quiet:active,
.post-icon-button--large--quiet.is-active {
  color: #454545;
  text-shadow: 0 1px #fff;
  background-color: #d3d7d7;
  border: 1px solid #a5a8a8;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.post-icon-button--quiet:disabled,
.post-icon-button--quiet.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Large Icon Button
 -----------------

 :active - Active state

 .is-active - Simulates an active state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

    <a class="post-icon-button--large">
        <span class="post-icon--large post-icon--menu-stack"></span>
    </a>

    <a class="post-icon-button--large is-active">
      <span class="post-icon--large post-icon--menu-stack"></span>
    </a>

    <a class="post-icon-button--large is-disabled">
      <span class="post-icon--large post-icon--menu-stack"></span>
    </a>
*/
.post-icon-button--large,
.post-icon-button--large--quiet {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
}
.post-icon-button--large:active,
.post-icon-button--large.is-active {
  background-color: #d3d7d7;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.post-icon-button--large:disabled,
.post-icon-button--large.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Large Quiet Icon Button
 -----------------------

 :active - Active state

 .is-active - Simulates an active state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

    <a class="post-icon-button--large--quiet">
        <span class="post-icon--large post-icon--menu-stack"></span>
    </a>

    <a class="post-icon-button--large--quiet is-active">
      <span class="post-icon--large post-icon--menu-stack"></span>
    </a>

    <a class="post-icon-button--large--quiet is-disabled">
      <span class="post-icon--large post-icon--menu-stack"></span>
    </a>
*/
.post-icon-button--large--quiet {
  background: transparent;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.post-icon-button--large--quiet:disabled,
.post-icon-button--large--quiet.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.post-icon,
.post-icon--large {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
.post-icon--large {
  width: 2.5rem;
  height: 2.5rem;
}

/*
Copyright 2012 Adobe Systems Inc.;
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
 List
 ------------

    <div class="post-list__container">
      <h3 class="post-list__header">Category</h3>
      <ul class="post-list">
        <li class="post-list__item">
          Item
        </li>
        <li class="post-list__item">
          Item
        </li>
        <li class="post-list__item">
          Item
        </li>
      </ul>
    </div>

*/
.post-list__container {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
}

.filter-genre {
  display:flex;
  justify-content: center;
  background-color:#FFF;
  padding:1em 0;
}

  .filter-genre a {
    display:inline-block;
    padding:0.8em;
    font-size:0.8em;
    color:#90A4AE;
  }

  .filter-genre a:hover {
    color:#546E7A;
    background-color:#ECEFF1;
  }

.post-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-top: 1px solid #B0BEC5;
  color: #454545;
}

.movie-panel-item {
  display:flex;
  flex-flow:column wrap;
  flex:1 1 100%;
  border-top: 1px solid #B0BEC5;
  padding: 1.25rem 1.25rem 0 1.25rem;
}

.movie-panel-item h2 {
  margin:0 0 1em 0;
  border:0;
  font-weight: 700;
  color:#37474F;
}

  .movie-panel-item p {
    color: #455A64;
    font-size: 0.85em;
    margin: 0.5em 0;
  }

  .movie-panel-item img {
    margin: 0 0 2em 0;
    float: left;
    width: 300px;
    height: auto;
  }

.post-list__item {
  margin: 0;
  padding: 0;
  padding: 1.25rem;
  border-bottom: 1px solid #CFD8DC;
}


.post-list__item a {
  color:#66BB6A;
  text-decoration:none;
  transition: color 0.3s ease;
}

.post-list__item a:hover {
  color:#2E7D32;
}

.post-list__item-genre {
  color:#90A4AE;
  font-size:0.7em;
}

.go-back {
  display:flex;
  flex:1 1 100%;
  margin-bottom:4em;
}

a.back-to-movie-list {
  padding-left:1.25rem;
}

.movie-panel a {
  font-size:0.85em;
  color:#66BB6A;
  font-weight:700;
  text-decoration:none;
  transition:color 0.3s ease;
}

.movie-panel a:hover {
  color:#2E7D32;
}

/*
Copyright 2012 Adobe Systems Inc.;
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
Navigation Bar
--------------

    <div class="post-navigation-bar">
        <div class="post-navigation-bar__item left quarter">
            <a class="post-icon-button--quiet">
              <span class="post-icon post-icon--menu-stack"></span>
            </a>
        </div>
        <div class="post-navigation-bar__item center half">
            <h1 class="post-navigation-bar__title">Header</h1>
        </div>
        <div class="post-navigation-bar__item right quarter">
            <a class="post-icon-button--quiet">
              <span class="post-icon post-icon--edit"></span>
            </a>
        </div>
    </div>
*/
.post-navigation-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  white-space: nowrap;
  overflow: hidden;
  word-spacing: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #e5e9e8;
  color: #000;
  -webkit-box-shadow: inset 0 -1 #b9bcbc, 0 1px rgba(0,0,0,0.95);
  box-shadow: inset 0 -1 #b9bcbc, 0 1px rgba(0,0,0,0.95);
}
.post-navigation-bar__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  margin: var-margin;
  line-height: 4rem;
  vertical-align: top;
}

h1 {
  margin:0;
  padding:0;
}

h1.post-navigation-bar__title a {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.7rem;
  text-space: -1px;
  font-weight: 700;
  color: #455A64;
  text-decoration:none;
}

/*
Copyright 2012 Adobe Systems Inc.;
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
 Search Input
 ------------

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state

    <input type="search" value="" placeholder="search" class="post-search-input">
    <input type="search is-disabled" value="" placeholder="search" class="post-search-input">

 */
.post-search-input,
.post-search-input--large {
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1.25rem;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 5px;
  height: 3rem;
  font: inherit;
  font-weight: 200;
  outline: none;
  border: 1px solid #a5a8a8;
  background-color: #e5e9e8;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
  color: #454545;
  -webkit-appearance: none;
  padding: 0 0 0 2.7em;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-image: url("../img/search.svg");
  background-position: 1em center;
  background-repeat: no-repeat;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  background-size: 16px;
}
.post-search-input:focus,
.post-search-input--large:focus {
  background-color: #fff;
  color: var-color-focus;
}
.post-search-input::-webkit-search-cancel-button,
.post-search-input::-webkit-search-decoration {
  margin-right: 5px;
}
.post-search-input:focus::-webkit-input-placeholder,
.post-search-input:focus::-webkit-input-placeholder {
  color: #c6c8c8;
}
.post-search-input:disabled,
.post-search-input.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Large Search Input
 ------------------

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state

    <input type="search"  value="" placeholder="search" class="post-search-input--large">
    <input type="search"  value="" placeholder="search" class="post-search-input--large .is-disabled">

*/
.post-search-input--large {
  height: 4rem;
  font-size: 1.3rem;
  font-weight: 200;
  padding-left: 2.8em;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background-position: 1.2em center;
  -webkit-background-size: 1.3rem;
  -moz-background-size: 1.3rem;
  background-size: 1.3rem;
}
.post-search-input--large:disabled,
.post-search-input--large.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

/*
Copyright 2012 Adobe Systems Inc.;
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/*
 Text Input
 ----------

:disabled - Disabled state
.is-disabled - Simulates a disabled state on mobile devices

    <input type="text" class="post-text-input" value="" placeholder="text">
    <input type="text" class="post-text-input is-disabled" value="" placeholder="text">

*/
.post-text-input,
.post-text-input--large {
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1.25rem;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 5px;
  height: 3rem;
  font: inherit;
  font-weight: 200;
  outline: none;
  border: 1px solid #a5a8a8;
  background-color: #e5e9e8;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
  color: #454545;
}
.post-text-input:focus {
  background-color: #fff;
  color: #000;
}
.post-text-input:disabled,
.post-text-input.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 Large Text Input
 ----------------

:disabled - Disabled state
.is-disabled - Simulates a disabled state on mobile devices

    <input type="text" class="post-text-input--large" value="" placeholder="text">
    <input type="text" class="post-text-input--large is-disabled" value="" placeholder="text">
*/
.post-text-input--large {
  height: 4rem;
  font-size: 1.3rem;
}
.post-text-input--large:focus {
  background-color: #fff;
  color: #000;
}
.post-text-input--large.is-disabled,
.post-text-input--large:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
